# Course 1 - Final Exercises

Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [ ]:
A = int(input("Type your age"))
N = str(input("Type your name"))

X=100-A

Y=X+2020

print("Hello " + N +" you will turn 100 years in "+ str(Y))

Add on to the previous program by asking the user for another number and printing out that many copies of the previous message. (Hint: order of operations exists in Python)

In [ ]:
A = int(input("Type your age"))
N = str(input("Type your name"))
T = int(input("How many time you want to repeat this? "))

X=100-A

Y=X+2020

while(T>0):
    print("Hello " + N +" you will turn 100 years in "+ str(Y))
    T = T-1

Take the following two lists:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

and write a program that returns a list that contains only the elements that are common between the lists (without duplicates).

In [ ]:
A = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] 
B = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

R=[]

R=set(A).intersection(B)

print("The equal values are: ", R)

Randomly generate two lists to test this.

In [ ]:
import random

A = []
B = []
x=0
R=0

while x<10:
    A.append(random.randint(1,20))
    B.append(random.randint(1,20))

    x=x+1

A2=A
B2=B

print("The lists are:\n")
print("\nA:")
print(" ".join(map(str,A2)))
print("\nB:")
print(" ".join(map(str,B2)))

R=set(A).intersection(B)

print("\nThe equal values are: ", R)

Make sure your program works on two lists of different sizes.

In [ ]:
import random

A = []
B = []
x=0
R=0

while x<10:
    A.append(random.randint(1,20))

    x=x+1

while x<50:
    B.append(random.randint(1,10))

    x=x+1

A2=A
B2=B

print("The lists are:\n")
print("\nA:")
print(" ".join(map(str,A2)))
print("\nB:")
print(" ".join(map(str,B2)))

R=set(A).intersection(B)

print("\nThe equal values are: ", R)

Write this in one line of Python using at least one list comprehension

In [ ]:
import random

a = random.sample(range(1,20),10)
b = random.sample(range(1,20),10)
result [i for i in set(a) if i in b]

Create the lists in Excel (use two columns, one for a, one for b) and load the file into python – then try the above exercise with those lists.

In [10]:
# The code was removed by Watson Studio for sharing.

     A  B
0  1.0  1
1  1.0  2
2  2.0  3
3  3.0  4
4  5.0  5

In [14]:
A = df_data_0["A"].to_numpy()

B = df_data_0["B"].to_numpy()

print(A)
print(B)

R=0

R=set(A).intersection(B)

print("\nThe equal values are: ", R)

[ 1.  1.  2.  3.  5.  8. 13. 21. 34. 55. 89. nan nan]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13]

The equal values are:  {1, 2, 3, 5, 8, 13}